.webpush_button {
  width: 100%;
  margin-top: 5px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

#loginModel .login-inputs {
  display: flex;
  flex-direction: column;
}

#loginModel .login-inputs input {
  width: 100%
}

.invoice-top-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.invoice-top-image svg {
  width: 30vw
}