<!-- Modal -->
<div class="modal fade" id="loginModel" tabindex="-1" role="dialog" aria-labelledby="loginModelTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Login / Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="register-form" class="login-inputs" style="display: none">
          <input id="register-username" type="text" class="intro_input" placeholder="Username" required="required">
          <input id="register-password" type="password" class="intro_input" placeholder="Password" required="required">
          <input id="confirm-password" type="password" class="intro_input" placeholder="Confirm Password" required="required">
          <div id="register" class="button text-center button_2" data-dismiss="modal"><a href="#">Register</a></div>
          <br />
          <a id="go-to-login" class="text-center" href="#!">Do you have an account? login yet</a>
        </div>
        <div id="login-form" class="login-inputs">
          <input id="login-username" type="text" class="intro_input" placeholder="Username" required="required">
          <input id="login-password" type="password" class="intro_input" placeholder="Password" required="required">
          <div id="login" class="button button_2 text-center" data-dismiss="modal"><a href="#">Login</a></div>
          <br />
          <a id="go-to-register" class="text-center" href="#!">Don't have an account?</a>
        </div>
      </div>
    </div>
  </div>
</div>